body{
	//color:blue;
}

#blocka{
color:yellow;
background-color:yellow;

}

#blocklinkclick{

}

.blocks{
background-color:rgba(0, 0, 0, 0.5);

height:100px;
margin-top:5px;
margin-right:5px;
font-color:#f7fafa;
font-size:14px;
text-shadow: 2px 1px 3px black

}


#blocktom{

}

#blockfractions{

}

#blocklinkchem2{

}

#blocklinkchem3{

}
#blocklinkchem4{

}
#blockclick{

}


.blockfont{
color:#f7fafa;
font-size:14px;
text-align:center;
}


.highlighted{
color:green;
background-color:green;
}