body{
	color:blue;
}

#blocka{
color:yellow;
background-color:yellow;
position:absolute;
width:200px;
height:200px;
}

#blocklinkclick{
position:absolute;
top:0px;
left:+205px;
}

.blocks{
color:yellow;
background-color:yellow;
position:absolute;
width:200px;
height:200px;
font-color:black;
font-size:18px;

}

#blocktom{
top:0px;
left:0px;
}

#blockfractions{
top:0px;
left:+205px;
}

#blocklinkchem2{
position:absolute;
top:205px;
left:+205px;
}

#blocklinkchem3{
position:absolute;
top:205px;
left:0px;
}
#blocklinkchem4{
position:absolute;
top:205px;
left:410px;
}
#blockclick{
top:0px;
left:+205px;
}


.blockfont{
color:black;
font-size:24px;
text-align:center;
}


.highlighted{
color:green;
background-color:green;
}