* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background: radial-gradient(#111628, #0b0f1d);
    font-family: 'Roboto Mono', Arial, sans-serif;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(24, 56, 24, 0.57), rgba(40, 109, 40, 0.68));
    opacity: 0;
    transition: 150ms ease;
    z-index: -1;
    will-change: opacity;
}
body.success::before {
    animation: success 2.5s;
}
body::after {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(244, 67, 54, 0.8), rgba(206, 55, 44, 0.48));
    opacity: 0;
    transition: 500ms ease;
    z-index: -1;
    will-change: opacity;
}
body.gameover::after {
    opacity: 1;
}

#dropdown {
    position: fixed;
    z-index: 1;
    width: 30ch;
}
#resetButton {
	position: fixed;
	z-index: 9;
	left: 60vw;
	width: 10vw;
	HEIGHT: 6vh;
}
#chordSenseLink {
	position: fixed;
    z-index: 9;
	right: 0vw;
	width: 30vw;
	HEIGHT: 4vh;
}
#submitAnswerDiv {
	position: fixed;
	z-index: 9;
	left: 40vw;
	width: 10vw;
	HEIGHT: 6vh;
}
#revealAnswerDiv {
	position: fixed;
	z-index: 9;
	left: 30vw;
	width: 10vw;
	HEIGHT: 6vh;
}
#playAnswerDiv {
	position: fixed;
	z-index: 9;
	left: 50vw;
	width: 10vw;
	HEIGHT: 6vh;
}
#chordLink {
position: right;
    z-index: 9;
    width: 30ch;
	HEIGHT: 4ch;
}

#sheetButton {
	position: fixed;
	z-index: 9;
	left: 50vw;
	width: 10vw;
	HEIGHT: 6vh;
}
#loadMidi {
	font-size:14px;
	text-align: center;
	background-color:white;
	font:black;
	position: fixed;
	z-index: 9;
	left: 40vw;
	width: 20vw;
	HEIGHT: 6vh;
}
#filereader {

}
#file-upload-button{


}
#sequenceButton {
	position: fixed;
	z-index: 9;
	left: 40vw;
	width: 10vw;
	HEIGHT: 4ch;
}
#revealButton {
	position: fixed;
	z-index: 9;
	left: 30vw;
	width: 10vw;
	HEIGHT: 4ch;
}
#playButton {
	position: fixed;
	z-index: 9;
	left: 50vw;
	width: 10vw;
	HEIGHT: 4ch;
}
#octaveUp {
	position: fixed;
	z-index: 9;
	left: 30vw;
	width: 10vw;
	HEIGHT: 3vh;
}
#octaveNumBox {
	position: fixed;
	z-index: 9;
	left: 40vw;
	width: 10vw;
	HEIGHT: 6vh;
	text-align: center;
	padding-top: 1.5vh;
}
#octaveDown {
 	position: fixed;
    z-index: 9;
	left: 30vw;
	top: 3vh;
    width: 10vw;
	HEIGHT: 3vh;
	}
#countdown {
    height: 20vh;
    position: absolute;
    top: .5ch;
    left: 0;
    color: #fff;
    text-align: center;
    font-size: 15vh;
    line-height: 20vh;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    z-index: 0
}
#screen-wrapper {
    overflow: hidden;
    height: 100vh;
    z-index: 1;
}

#screens {
    width: 400%;
    height: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    transition: 500ms ease;
    will-change: transform;
}

[data-step="1"] #screens {
    transform: translateX(-100vw);
    position: inherit;
}
[data-step="2"] #screens {
    transform: translateX(-200vw);
}
[data-step="3"] #screens {
    transform: translateX(-300vw);
}

.screen {
    flex: 1 0 25%;
    text-align: center;
    padding: 2em;
}

.lock-input {
    background: #fff1dc;
    padding: 50px 75px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px #000;
    margin: 20px 0;
    text-align: center;
    overflow: hidden;
    transition: 150ms ease;
    display: inline-block;
}

.lock-input.error {
    background: #ffacba;
    animation: shake 300ms;
}

.note {
    display: inline-block;
}

.note svg {
    width: 55px;
    height: 75px;
    transform: translateY(250px);
    transition: 150ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.note.on svg {
    transform: translateY(50px);
}

.step0, .step3 {
    font-size: 3vw;
}

.hint {
    font-weight: 100;
    font-style: italic;
    font-size: 0.8em;
}


@keyframes success {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}

audio {
  display: none;
}

.piano-javascript {
  border: 3px solid #f88;
  display: block;
}

.piano {
  padding: 5px;
  margin: 0 auto;
  width: 550px;
}

.piano-container, .piano-javascript {
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.piano-container {
  text-align: center;
}

.piano-keys{
  word-spacing: 0;
  letter-spacing: 0;
  font-size: 0;
}

.piano-pedal {
  margin: 10px;
  color: rgba(0, 0, 0, 0.1);
}

.piano-sustain {
  color: black;
}

.piano-white, .piano-black {
  display: inline-block;
  position: relative;
  vertical-align: top;
  direction: ltr;
  margin: 0;
  padding: 0;
}

.piano-white, .piano-black-raised {
  border-radius: 2px;
  border-color: #222;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  cursor: pointer;
}

.piano-white {
  width: 24px;
  height: 100px;
  background-color: white;
  z-index: 1;
}

.piano-black {
  width: 0px;
  height: 100px;
  z-index: 2;
}

.piano-black-raised {
  width: 16px;
  height: 70px;
  position: relative;
  left: -10px;
  background-color: black;
}

.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}

.ms-options-wrap > button:focus,
.ms-options-wrap > button {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #aaa;
    background-color: #fff;
    padding: 5px 20px 5px 5px;
    margin-top: 1px;
    font-size: 13px;
    color: #aaa;
    outline-offset: -2px;
    white-space: nowrap;
}

.ms-options-wrap > button > span {
    display: inline-block;
}

.ms-options-wrap > button[disabled] {
    background-color: #e5e9ed;
    color: #808080;
    opacity: 0.6;
}

.ms-options-wrap > button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 100%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -15px;
}

.ms-options-wrap.ms-has-selections > button {
    color: #333;
}

.ms-options-wrap > .ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #aaa;
    overflow: auto;
    visibility: hidden;
}

.ms-options-wrap.ms-active > .ms-options {
    visibility: visible
}

.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    padding: 4px 5px;
    border: none;
    border-bottom: 1px groove;
    outline: none;
}

.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-transform: lowercase;
    text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}

.ms-options-wrap > .ms-options > ul,
.ms-options-wrap > .ms-options > ul > li.optgroup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ms-options-wrap > .ms-options > ul li.ms-hidden {
    display: none;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 4px 4px 4px 20px;
    margin: 1px 0;
    border: 1px dotted transparent;
}
.ms-options-wrap > .ms-options.checkbox-autofit > ul label,
.ms-options-wrap > .ms-options.hide-checkbox > ul label {
    padding: 4px;
}

.ms-options-wrap > .ms-options > ul label.focused,
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #efefef;
    border-color: #999;
}

.ms-options-wrap > .ms-options > ul li.selected label {
    background-color: #efefef;
    border-color: transparent;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin: 0 5px 0 0;
    position: absolute;
    left: 4px;
    top: 7px;
}

.ms-options-wrap > .ms-options.hide-checkbox > ul input[type="checkbox"] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}